.App{
  width: 100vw;
  height: 100vh;
  color: white;
  position: relative;
}
.scene{
  position: relative;
  width: 100%;
  height: 100%;
}
canvas{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.sphere{
  position: absolute;
  border-radius: 50%;
  background-color: rgba(blue,0.5);
  animation: grow 300ms ease-in-out;
  transform-origin: center center;
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
  box-sizing: border-box;
}
@keyframes grow {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}